# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build folder
build

#user defined Cmake presets
CMakeUserPresets.json

#conan
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json

#qtcreator
.qtc_clangd/
animaX.clangs
animaX.config
animaX.cflags
animaX.cxxflags
animaX.creator
animaX.files
animaX.includes
